/* Shared */
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
}

/* 

   PART A: CSS for (index.html)
*/

body:not(.birds-page) {
  max-width: 800px;                 /* requirement */
  margin: 0 auto;
  background: var(--c-background-color);
  color: var(--base-font-color);
}

/* header/footer background highlight + centered */
body:not(.birds-page) header,
body:not(.birds-page) footer {
  background: var(--c-background-highlights);
  text-align: center;
}

body:not(.birds-page) header h1 {
  margin: 0;
  padding: 18px 12px;
  font-size: 150%;
  color: var(--c-yellow);
}

/* nav: remove bullets + flex + centered */
body:not(.birds-page) nav ul {
  list-style: none;
  padding: 12px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 100%;
}

body:not(.birds-page) nav {
  width: 100%;
  padding: 10px 0 18px;
}

body:not(.birds-page) nav a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

/* article links: magenta + hover orange */
body:not(.birds-page) article a {
  color: var(--c-magenta);
}
body:not(.birds-page) article a:hover {
  color: var(--c-orange);
}